In [1]:
import pandas as pd
import numpy as np

In [6]:
Datosagr=["Mi proyecto\Data\ESPAUTOMATICAS.csv","Mi proyecto\Data\ESPBROAD.csv","Mi proyecto\Data\ESPKINDLE.csv","Mi proyecto\Data\ESPPALABRASCONVIRTIERON.csv"]

In [10]:
Muestra=[]
for archivos in Datosagr:
 df=pd.read_csv(archivos)
 Muestra.append(df)

In [11]:

df_combinado = pd.concat(Muestra, ignore_index=True)
df_combinado

,Producto que coincide,Objetivos de productos,Añadido como,Impresiones,Clics,Porcentaje de clics (CTR),Gasto(EUR),CPC(EUR),Pedidos,Ventas(EUR),ACOS,ROAS,Ratio de conversión
0,libros adolescentes,loose-match,NaN,206,9,"4,37",5.79,0.64,0,0.0,NaN,0.0,0.0
1,saga de libros,loose-match,NaN,3,1,"33,33",0.34,0.34,0,0.0,NaN,0.0,0.0
2,1408855658,substitutes,NaN,21,1,"4,76",0.87,0.87,0,0.0,NaN,0.0,0.0
3,libros para adolescentes de 14 años,loose-match,NaN,5,2,"40,00",3.54,1.77,0,0.0,NaN,0.0,0.0
4,8417854517,substitutes,NaN,261,3,"1,15",0.75,0.25,0,0.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,libros juveniles,libro juvenil,NaN,1078,4,"0,37",2.78,0.69,0,0.0,NaN,0.0,0.0
299,libros para niñas de 14 años,libros para niños de 14 años,NaN,4,1,"25,00",3.07,3.07,0,0.0,NaN,0.0,0.0
300,libro adolescentes 12 años niño,libro adolescente,NaN,3,1,"33,33",0.76,0.76,0,0.0,NaN,0.0,0.0
301,libros 13 años,libro 13 años,NaN,5,1,"20,00",0.83,0.83,0,0.0,NaN,0.0,0.0
302,libro de fantasia juvenil,libro fantasia juvenil,NaN,1,1,"100,00",0.23,0.23,0,0.0,NaN,0.0,0.0