In [6]:
import pandas as pd
import numpy as np

In [8]:
Datosagr=["Mi proyecto\Data\ESPAUTOMATICAS.csv","Mi proyecto\Data\ESPBROAD.csv","Mi proyecto\Data\ESPKINDLE.csv","Mi proyecto\Data\ESPPALABRASCONVIRTIERON.csv"]

In [9]:
Muestra=[]
for archivos in Datosagr:
 df=pd.read_csv(archivos)
 Muestra.append(df)

In [10]:

df_combinado = pd.concat(Muestra, ignore_index=True)
df_combinado

,Producto que coincide,Objetivos de productos,Añadido como,Impresiones,Clics,Porcentaje de clics (CTR),Gasto(EUR),CPC(EUR),Pedidos,Ventas(EUR),ACOS,ROAS,Ratio de conversión
0,libros adolescentes,loose-match,NaN,206,9,"4,37",5.79,0.64,0,0.0,NaN,0.0,0.0
1,saga de libros,loose-match,NaN,3,1,"33,33",0.34,0.34,0,0.0,NaN,0.0,0.0
2,1408855658,substitutes,NaN,21,1,"4,76",0.87,0.87,0,0.0,NaN,0.0,0.0
3,libros para adolescentes de 14 años,loose-match,NaN,5,2,"40,00",3.54,1.77,0,0.0,NaN,0.0,0.0
4,8417854517,substitutes,NaN,261,3,"1,15",0.75,0.25,0,0.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,libros juveniles,libro juvenil,NaN,1078,4,"0,37",2.78,0.69,0,0.0,NaN,0.0,0.0
299,libros para niñas de 14 años,libros para niños de 14 años,NaN,4,1,"25,00",3.07,3.07,0,0.0,NaN,0.0,0.0
300,libro adolescentes 12 años niño,libro adolescente,NaN,3,1,"33,33",0.76,0.76,0,0.0,NaN,0.0,0.0
301,libros 13 años,libro 13 años,NaN,5,1,"20,00",0.83,0.83,0,0.0,NaN,0.0,0.0
302,libro de fantasia juvenil,libro fantasia juvenil,NaN,1,1,"100,00",0.23,0.23,0,0.0,NaN,0.0,0.0

In [3]:
import seaborn as sns

In [ ]:
1. Las 5 kw más rentables (Hay que obtener la rentabilidad)
2. Las 5 kw más costosas
3. Las 10 kw menos efectivas
4. El grupo de anuncios con más ventas
6. El CPC medio
7. El coste de obtener una ventas
8. Resultados por coincidencia
9. Mejores Asins competidores para pujar
10. Mayor ratio impresión click
11. Mas ventas
12. Más clicados
13. Menos efectivos
14. Campaña más efectiva
15. Formulas estadisticas random (mediana y esas cosas)

In [18]:
#añado columna de rentabilidad
df_combinado ["rentabilidad"]= df_combinado['Gasto(EUR)'] /df_combinado['Ventas(EUR)']
df_combinado

,Producto que coincide,Objetivos de productos,Añadido como,Impresiones,Clics,Porcentaje de clics (CTR),Gasto(EUR),CPC(EUR),Pedidos,Ventas(EUR),ACOS,ROAS,Ratio de conversión,rentabilidad
0,libros adolescentes,loose-match,NaN,206,9,"4,37",5.79,0.64,0,0.0,NaN,0.0,0.0,inf
1,saga de libros,loose-match,NaN,3,1,"33,33",0.34,0.34,0,0.0,NaN,0.0,0.0,inf
2,1408855658,substitutes,NaN,21,1,"4,76",0.87,0.87,0,0.0,NaN,0.0,0.0,inf
3,libros para adolescentes de 14 años,loose-match,NaN,5,2,"40,00",3.54,1.77,0,0.0,NaN,0.0,0.0,inf
4,8417854517,substitutes,NaN,261,3,"1,15",0.75,0.25,0,0.0,NaN,0.0,0.0,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,libros juveniles,libro juvenil,NaN,1078,4,"0,37",2.78,0.69,0,0.0,NaN,0.0,0.0,inf
299,libros para niñas de 14 años,libros para niños de 14 años,NaN,4,1,"25,00",3.07,3.07,0,0.0,NaN,0.0,0.0,inf
300,libro adolescentes 12 años niño,libro adolescente,NaN,3,1,"33,33",0.76,0.76,0,0.0,NaN,0.0,0.0,inf
301,libros 13 años,libro 13 años,NaN,5,1,"20,00",0.83,0.83,0,0.0,NaN,0.0,0.0,inf
302,libro de fantasia juvenil,libro fantasia juvenil,NaN,1,1,"100,00",0.23,0.23,0,0.0,NaN,0.0,0.0,inf

In [31]:
#11 Top 3 más ventas
df_combinado["Ventas(EUR)"].max()

df_combinado.loc[df_combinado["Ventas(EUR)"] == df_combinado["Ventas(EUR)"].max()]

,Producto que coincide,Objetivos de productos,Añadido como,Impresiones,Clics,Porcentaje de clics (CTR),Gasto(EUR),CPC(EUR),Pedidos,Ventas(EUR),ACOS,ROAS,Ratio de conversión,rentabilidad
135,libros 12 años mas vendidos niños,loose-match,NaN,23,7,"30,43",11.05,1.58,2,33.84,32.653664,3.062443,28.571429,0.326537

In [ ]:
df_combinado.query("Stock>0")